<h2 class="h4">Mon panier</h2>
<div class="card">
    <div class="card-header">{{items.length}} {{ items.length === 1 ? 'article' : 'articles' }}</div>
    <ul class="list-group list-group-flush">
        <!-- Use `*ngFor` directive to loop over the basket items -->
        <li class="list-group-item d-flex justify-content-between" *ngFor="let item of items">
            {{ item.title }} <span class="text-primary">{{ item.price | currency }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between fw-bold" *ngIf="items.length; else basketEmpty">
            Total <span class="text-primary">{{ total | currency }}</span>
        </li>

        <ng-template #basketEmpty>
            <li class="list-group-item text-secondary">Votre panier est vide</li>
        </ng-template>
    </ul>
</div>