<app-menu />

<main class="py-4 container">
  <header class="p-4 mb-4 bg-light rounded-3">
    <h1>Bienvenue sur Zenika Ecommerce</h1>
    <p>Votre panier s'élève à {{total}} €</p>
    <p class="mb-0"><a class="btn btn-primary btn-large">Voir mon panier</a></p>
  </header>

  <h2 class="h4">Catalogue</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
      <app-product [product]="products[0]" (addToBasket)="ajouterAuPanier($event)"/>
    </div>

    <div class="col">
      <div class="card h-100 text-center text-bg-warning">
        <img class="card-img-top" src="/assets/coding-the-world.jpg" alt="Product image" />
        <div class="card-header">
          <small>Tee-shirt col rond - Homme</small>
        </div>
        <div class="card-body">
          <h3 class="h6 card-title">
            <a class="card-link">Coding the world</a>
          </h3>
          <p class="card-text">18 €</p>
          <button class="btn btn-primary">Ajoutez au panier</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/assets/coding-the-stars.jpg" alt="Product image" />
        <div class="card-header">
          <small>Tee-shirt col rond - Femme</small>
        </div>
        <div class="card-body">
          <h3 class="h6 card-title">
            <a class="card-link">Duck Vador</a>
          </h3>
          <p class="card-text">21 €</p>
          <button class="btn btn-primary">Ajoutez au panier</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/assets/coding-the-snow.jpg" alt="Product image" />
        <div class="card-header">
          <small>Tee-shirt col rond - Femme</small>
        </div>
        <div class="card-body">
          <h3 class="h6 card-title">
            <a class="card-link">Coding the snow</a>
          </h3>
          <p class="card-text">19 €</p>
          <button class="btn btn-primary">Ajoutez au panier</button>
        </div>
      </div>
    </div>
  </div>
</main>